/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: #888B97;
}

a:focus {
  outline: none;
}

body {
  font-family: 'Lexend', sans-serif;
  color: #888B97;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.list__item:not(:last-child) {
  line-height: 18px;
  margin-bottom: 18px;
}

.list__link:hover {
  color: #0E1735;
}

.company-logo__icon {
  margin-right: 7px;
}

.company-logo__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #1B1C57;
  text-transform: capitalize;
}

.company-logo:hover svg {
  filter: brightness(1.08);
}

.company-logo:hover strong {
  color: #047857;
}

.input__form {
  height: 54px;
  width: 496px;
  position: relative;
}

.input__field {
  height: 54px;
  width: 496px;
  border: 0;
  border-radius: 27px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 64px;
  color: #888B97;
}

.input__field::placeholder {
  color: #888B97;
}

.input__field::-webkit-input-placeholder {
  color: #888B97;
}

.input__field::-moz-placeholder {
  color: #888B97;
}

.input__field::-ms-input-placeholder {
  color: #888B97;
}

.input__field:-moz-placeholder {
  color: #888B97;
}

.input__field:focus {
  border: 2px solid #10B981;
}

.input__icon {
  position: absolute;
  top: 19px;
  left: 26px;
}

.input__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129px;
  height: 46px;
  background-color: #10B981;
  border: 0;
  border-radius: 23px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #ffffff;
  position: absolute;
  top: 4px;
  right: 4px;
}

.input__button:hover {
  background-color: #047857;
  filter: brightness(1.05);
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-transform: capitalize;
}

.title-block--left {
  margin: 0;
  align-items: flex-start;
}

.title-block__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-block__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #F59E0B;
  margin-bottom: 12px;
}

.title-block__line {
  width: 32px;
  height: 1px;
  background-color: #F59E0B;
  margin-bottom: 8px;
}

.title-block__line--left {
  position: absolute;
  top: 8.5px;
  left: -40px;
}

.title-block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1B1C57;
}

.contact-block {
  display: flex;
}

.contact-block__icon-wrapper {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 28px;
  filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
  margin-right: 24px;
}

.contact-block__icon-wrapper--small {
  width: 40px;
  height: 40px;
  align-self: center;
}

.contact-block__icon-wrapper img {
  object-fit: cover;
  object-position: -33px -24px;
}

.contact-block__person-info {
  display: flex;
  flex-direction: column;
  margin-right: 59px;
}

.contact-block__name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0E1735;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.contact-block__name--small {
  font-size: 14px;
  line-height: 22px;
}

.contact-block__job-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.contact-block__job-title--small {
  font-size: 14px;
  line-height: 22px;
}

.contact-block:hover img {
  filter: brightness(1.08);
}

.article-block {
  display: flex;
  margin-bottom: 44px;
}

.article-block--big {
  flex-direction: column;
  margin: 0;
}

.article-block__img {
  width: 200px;
  height: 144px;
  margin-right: 32px;
  border-radius: 16px;
}

.article-block__img--big {
  width: 560px;
  height: 280px;
  margin: 0 0 24px;
}

.article-block__img:hover {
  filter: brightness(1.08);
}

.article-block__content {
  display: flex;
  flex-direction: column;
}

.article-block__author-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.article-block__author-wrapper:hover img {
  filter: brightness(1.08);
}

.article-block__author-pic-wrapper {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.article-block__author-pic-wrapper img {
  object-fit: cover;
  object-position: -31px -22px;
  filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
}

.article-block__author-name {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #3C4563;
  text-transform: capitalize;
}

.article-block__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B1C57;
  margin-bottom: 12px;
}

.article-block__title--big {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.article-block__description {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
}

.article-block__date-wrapper {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.article-block__date-wrapper:hover {
  font-weight: 400;
  color: #3C4563;
}

.article-block__date-wrapper:hover > svg {
  fill: #3C4563;
}

.article-block__time-icon {
  fill: #888B97;
  margin-right: 14px;
}

.article-block__line-symbol {
  margin: 0 4px;
}

.navigation {
  position: absolute;
  top: 46px;
  left: calc(50% - 600px);
  z-index: 1000;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 17px;
  padding: 0 16px;
}

.menu__item--dropdown {
  width: 122px;
  position: relative;
}

.menu__item--dropdown::after {
  content: url("../img/header/header-quotation-mark-right.svg");
  position: absolute;
  top: 6px;
  right: 14px;
}

.menu__item--dropdown:hover::after {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='%231B1C57' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6236 7.12001C14.624 6.94625 14.5631 6.77784 14.4515 6.64404C14.3887 6.56874 14.3116 6.50649 14.2245 6.46086C14.1374 6.41523 14.0421 6.38712 13.9441 6.37814C13.8461 6.36916 13.7473 6.37948 13.6533 6.40852C13.5593 6.43756 13.472 6.48474 13.3964 6.54736L9.38526 9.87916L5.36668 6.66635C5.29013 6.60458 5.20205 6.55844 5.10751 6.53061C5.01296 6.50277 4.91381 6.49377 4.81576 6.50414C4.71771 6.51451 4.62268 6.54403 4.53614 6.59101C4.44961 6.638 4.37327 6.70151 4.31151 6.77791C4.24339 6.85486 4.192 6.94497 4.16058 7.04259C4.12916 7.14021 4.11838 7.24323 4.12892 7.34519C4.13946 7.44715 4.17109 7.54584 4.22183 7.63507C4.27257 7.7243 4.34132 7.80215 4.42377 7.86372L8.91381 11.4558C9.04771 11.5652 9.21567 11.625 9.38901 11.625C9.56234 11.625 9.7303 11.5652 9.8642 11.4558L14.3542 7.73729C14.4448 7.66268 14.5164 7.56791 14.5632 7.46066C14.61 7.35341 14.6307 7.23671 14.6236 7.12001Z' fill='%231B1C57'/%3E%3C/svg%3E");
}

.menu__item:not(:first-child) {
  margin-left: 24px;
}

.menu__item:last-child {
  height: 46px;
  padding: 0 24px;
  margin-left: 56px;
  background-color: #D1FAE5;
}

.menu__item:last-child > .menu__link {
  color: #047857;
}

.menu__item:last-child:hover {
  background-color: #10B981;
}

.menu__item:last-child:hover > .menu__link {
  color: #ffffff;
}

.menu__item:hover {
  background-color: #F0F3FD;
}

.menu__item:hover > .menu__link {
  color: #1B1C57;
}

.menu__item:hover > .menu__select {
  color: #1B1C57;
}

.menu__select {
  width: 100%;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #F0F3FD;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menu__option {
  background-color: #F0F3FD;
  color: #1B1C57;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #F0F3FD;
}

.header {
  position: relative;
  height: 720px;
  margin-bottom: 120px;
}

.header__wrapper {
  width: 1440px;
  max-width: 1440px;
  position: relative;
}

.header__row {
  width: 100%;
  margin: 0;
}

.header__column {
  height: 720px;
  padding: 0;
}

.header__column--left {
  display: flex;
  flex-direction: column;
  padding: 182px 105px 0 120px;
}

.header__column--right {
  position: relative;
  background: linear-gradient(16.74deg, #0C1537 -6.09%, rgba(12, 21, 55, 0) 32.63%), url("../img/header/header-bg.png");
  border-radius: 0px 0px 0px 80px;
}

.header__button {
  width: 109px;
  justify-content: flex-start;
  padding-left: 16px;
}

.header__button::after {
  content: url("../img/header/header-quotation-mark.svg");
  margin-left: 13px;
  margin-top: 3px;
}

.header__icon {
  position: absolute;
  top: 17px;
  left: 27px;
}

.header__slider {
  position: absolute;
  bottom: 48px;
  left: 48px;
  width: 672px;
  height: 104px;
}

.header__slider-images {
  margin-right: 16px;
  display: flex;
}

.header__slider-image-wrapper {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 28px;
  filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
}

.header__slider-image-wrapper img {
  object-fit: cover;
  object-position: -33px -24px;
}

.header__slider-image-wrapper--margin {
  margin-left: -28px;
}

.header__slider-block {
  text-transform: capitalize;
}

.header__slider-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C57;
}

.header__slider-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #68799F;
}

.header__slide {
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  /* Firefox/Gecko */
  /* Chrome */
  width: max-content;
  padding: 24px;
  height: 104px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 32px;
}

.header__slide:not(:last-child) {
  margin-right: 16px;
}

.header__title {
  max-width: 365px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #1B1C57;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.header__title--outline {
  -webkit-text-stroke: 1px #1B1C57;
  -webkit-text-fill-color: transparent;
}

.header__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 32px;
}

.header__form {
  margin-bottom: 32px;
}

.header__input {
  border: 1px solid #E0E3EB;
}

.header__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}

.header__logo:not(:last-child) {
  margin-right: 32px;
}

.header__shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__border-line--1 {
  width: 66.5px;
  height: 91.5px;
  position: absolute;
  top: 139.5px;
  left: 82px;
  border-top: 4px solid #EF4444;
  border-left: 4px solid #EF4444;
  border-top-left-radius: 6px;
}

.header__border-line--2 {
  width: 39.5px;
  height: 97px;
  position: absolute;
  top: 200.5px;
  right: 124.5px;
  border-top: 4px solid #F59E0B;
  border-right: 4px solid #F59E0B;
  border-top-right-radius: 4px;
}

.header__border-line--3 {
  width: 42.5px;
  height: 75px;
  position: absolute;
  right: 113px;
  bottom: 239px;
  border-top: 4px solid #3B82F6;
  border-right: 4px solid #3B82F6;
  border-top-right-radius: 6px;
}

.header__border-line--4 {
  width: 44.5px;
  height: 4px;
  background-color: #D1FAE5;
  position: absolute;
  top: 367px;
  left: 244px;
}

.header__border-line--5 {
  width: 14.5px;
  height: 4px;
  background-color: #D1FAE5;
  position: absolute;
  top: 367px;
  left: 304.5px;
}

.header__border-line--6 {
  width: 31.5px;
  height: 4px;
  background-color: #D1FAE5;
  position: absolute;
  top: 367px;
  left: 334.5px;
}

.recommendation {
  height: 662px;
  margin-bottom: 120px;
  border-bottom: 1px solid black;
}

.sell {
  height: 459px;
  margin-bottom: 120px;
}

.sell__wrapper {
  width: 1200px;
  position: relative;
}

.sell__row {
  width: 100%;
  margin: 0;
}

.sell__column {
  padding: 0;
}

.sell__column--left {
  padding: 25px 0 0 40px;
}

.sell__title {
  margin-bottom: 16px;
}

.sell__text {
  width: 420px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 16px;
}

.sell__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1B1C57;
  opacity: 0.75;
  margin-bottom: 24px;
}

.sell__block {
  width: 345px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sell__block-item {
  width: 145px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.sell__details-icon-wrapper {
  position: relative;
  width: 24px;
  margin-right: 20px;
  align-items: center;
}

.sell__details-icon--2-1 {
  position: absolute;
  right: 4.5px;
  bottom: 5.5px;
}

.sell__details-icon--2-2 {
  position: absolute;
  right: 1px;
  bottom: 0px;
}

.sell__details-icon--2-3 {
  position: absolute;
  top: -1px;
  left: 0;
}

.sell__details-icon--2-4 {
  position: absolute;
  top: 1px;
  left: 1.5px;
}

.sell__details-icon--2-5 {
  position: absolute;
  right: 8.5px;
  bottom: 5.5px;
}

.sell__details-icon--2-6 {
  position: absolute;
  right: 8.5px;
  bottom: 2.5px;
}

.sell__details-icon--2-7 {
  position: absolute;
  right: 12px;
  bottom: 3px;
}

.sell__details-icon--3-1 {
  position: absolute;
  bottom: 3px;
  left: 0;
}

.sell__details-icon--3-2 {
  position: absolute;
  top: -3px;
  left: 3px;
}

.sell__details-icon--4-1 {
  position: absolute;
  top: -11px;
  left: 0;
}

.sell__details-icon--4-2 {
  position: absolute;
  top: -7px;
  left: 4px;
}

.sell__details-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #3C4563;
}

.sell__line {
  width: 440px;
  height: 2px;
  background-color: #F0F3FD;
  margin-bottom: 32px;
}

.sell__button {
  width: 163px;
  position: relative;
  justify-content: end;
  padding-right: 16px;
}

.sell__button-wrapper {
  position: relative;
}

.sell__button-wrapper img {
  position: absolute;
  top: 16.5px;
  left: 16px;
}

.sell__gallery {
  position: relative;
  height: 459px;
}

.sell__slider {
  width: 488px;
  height: 416px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.sell__slide {
  position: relative;
}

.sell__house-pic {
  border-radius: 4px;
}

.sell__house-pic:hover {
  filter: brightness(1.08);
  border-radius: 12px;
}

.sell__house-pic--small:hover {
  border-radius: 8px;
}

.sell__house-pic--1 {
  position: absolute;
  bottom: 0;
  left: 72px;
  z-index: 2;
}

.sell__house-pic--2 {
  position: absolute;
  right: 124px;
  bottom: 0;
  z-index: 2;
}

.sell__house-pic--3 {
  position: absolute;
  right: 20px;
  bottom: 0;
  z-index: 2;
}

.sell__house-pic--video {
  position: absolute;
  top: 184px;
  right: 220px;
  z-index: 1000;
}

.sell__shape {
  position: absolute;
  right: -125px;
  bottom: 70px;
  z-index: -1;
}

.review {
  margin-bottom: 120px;
}

.review__wrapper {
  width: 1440px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__title {
  margin-bottom: 40px;
}

.review__slider {
  width: 100%;
  height: 562px;
}

.review__slide {
  width: 740px;
  position: relative;
  margin-right: 56px;
}

.review__slide-pic {
  border-radius: 8px;
}

.review__slide:hover > img {
  filter: brightness(1.08);
  border: 3px solid #888B97;
  border-radius: 16px;
}

.review-block {
  position: absolute;
  top: 256px;
  right: 64px;
  width: 612px;
  height: 249px;
  padding: 32px;
  background-color: #ffffff;
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.review-block__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #1B1C57;
  margin-bottom: 16px;
}

.review-block__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 24px;
}

.review-block__wrapper {
  position: relative;
}

.review-block__wrapper:hover svg {
  filter: brightness(1.08);
}

.review-block__wrapper:hover img {
  filter: brightness(1.08);
}

.review__rating {
  height: 28px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

.review__star-icon {
  fill: #F59E0B;
  margin-right: 18.5px;
}

.review__score {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #3C4563;
}

.swiper-pagination-bullet-active {
  background-color: #3C4563;
}

.tips {
  height: 753px;
  margin-bottom: 120px;
}

.tips__wrapper {
  flex-direction: column;
  position: relative;
}

.tips__column {
  padding: 0;
}

.tips__column--left {
  padding-right: 28px;
}

.tips__column--right {
  padding-left: 40px;
}

.tips__title {
  width: 450px;
  text-align: center;
  margin-bottom: 24px;
}

.tips__button {
  width: 118px;
  height: 46px;
  padding: 0 16px;
  position: relative;
  align-self: center;
  margin-bottom: 40px;
}

.tips__row {
  width: 100%;
  margin: 0;
}

.tips__shape {
  position: absolute;
  top: -140px;
  left: -120px;
  z-index: -1;
}

.subscribe {
  height: 312px;
  margin-bottom: 120px;
}

.subscribe__wrapper {
  background: url("../img/subscribe/subscribe-bg.png");
  background-size: cover;
  height: 312px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.subscribe__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  width: 425px;
  text-align: center;
  color: #1B1C57;
  margin-bottom: 32px;
}

.subscribe__form {
  height: 54px;
  width: 496px;
  position: relative;
}

.subscribe__icon {
  position: absolute;
  top: 19px;
  left: 26px;
}

.subscribe__button {
  width: 129px;
  height: 46px;
  background-color: #10B981;
  border: 0;
  border-radius: 23px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
  position: absolute;
  bottom: 4px;
  left: 363px;
}

.subscribe__img--pic-1 {
  position: absolute;
  top: 38px;
  left: 44px;
}

.subscribe__img--pic-4 {
  position: absolute;
  top: 178px;
  left: 195px;
}

.subscribe__img--pic-5 {
  position: absolute;
  top: 44px;
  left: 930px;
}

.subscribe__img--pic-8 {
  position: absolute;
  top: 197px;
  left: 1072px;
}

.subscribe__img-wrapper {
  width: 38px;
  height: 38px;
  overflow: hidden;
}

.subscribe__img-wrapper--pic-2 {
  position: absolute;
  top: 71px;
  left: 204px;
}

.subscribe__img-wrapper--pic-3 {
  position: absolute;
  top: 173px;
  left: 67px;
}

.subscribe__img-wrapper--pic-6 {
  position: absolute;
  top: 107px;
  left: 1082px;
}

.subscribe__img-wrapper--pic-7 {
  position: absolute;
  top: 143px;
  left: 964px;
}

.subscribe__img-wrapper img {
  object-fit: cover;
  object-position: -33px -24px;
}

.subscribe__icon {
  fill: #3B82F6;
}

.footer {
  height: 180px;
}

.footer__wrapper {
  justify-content: space-between;
  position: relative;
}

.footer__column {
  font-size: 14px;
  font-weight: 300;
  color: #888B97;
}

.footer__column--info {
  width: 320px;
  margin-right: 173px;
}

.footer__column:hover h3 {
  color: #047857;
}

.footer__company-logo {
  margin-bottom: 16px;
}

.footer__subtitle {
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 600;
  color: #0E1735;
  margin-bottom: 24px;
}

.footer__text {
  color: #626687;
  opacity: 0.75;
  line-height: 24px;
  margin-bottom: 30px;
}

.footer__social-media-link:first-child {
  margin-left: 9px;
}

.footer__social-media-link:not(:last-child) {
  margin-right: 36px;
}

.footer__shape {
  position: absolute;
  right: -80px;
  bottom: -120px;
  z-index: -1;
}

.footer__icon {
  fill: #3C4563;
}

.footer__icon:hover {
  fill: #10B981;
}
