/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: #888B97;
}

a:focus {
  outline: none;
}

body {
  font-family: 'Lexend', sans-serif;
  color: #888B97;
  font-size: 16px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.list__item:not(:last-child) {
  line-height: 18px;
  margin-bottom: 18px;
}

@media (max-width: 991.98px) {
  .list__item:not(:last-child) {
    line-height: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 991.98px) {
  .list__item:not(:last-child) {
    line-height: 11.5px;
    margin-bottom: 11.5px;
  }
}

.list__link:hover {
  color: #0E1735;
}

.company-logo__icon {
  margin-right: 7px;
}

.company-logo__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #1B1C57;
  text-transform: capitalize;
}

.company-logo:hover svg {
  filter: brightness(1.08);
}

.company-logo:hover strong {
  color: #047857;
}

.input__form {
  height: 54px;
  width: 496px;
  position: relative;
}

@media (max-width: 767.98px) {
  .input__form {
    height: 41.5px;
    width: 381.5px;
  }
}

.input__field {
  height: 54px;
  width: 496px;
  border: 0;
  border-radius: 27px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 64px;
  color: #888B97;
}

@media (max-width: 767.98px) {
  .input__field {
    height: 41.5px;
    width: 381.5px;
    border-radius: 20px;
    font-size: 10.5px;
    padding-left: 49px;
  }
}

.input__field::placeholder {
  color: #888B97;
}

.input__field::-webkit-input-placeholder {
  color: #888B97;
}

.input__field::-moz-placeholder {
  color: #888B97;
}

.input__field::-ms-input-placeholder {
  color: #888B97;
}

.input__field:-moz-placeholder {
  color: #888B97;
}

.input__field:focus {
  border: 2px solid #10B981;
}

.input__icon {
  position: absolute;
  top: 19px;
  left: 26px;
}

.input__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129px;
  height: 46px;
  background-color: #10B981;
  border: 0;
  border-radius: 23px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #ffffff;
  position: absolute;
  top: 4px;
  right: 4px;
}

@media (max-width: 767.98px) {
  .input__button {
    width: 99px;
    height: 35px;
    border-radius: 17px;
    font-size: 10.5px;
    position: absolute;
    top: 3px;
    right: 3px;
  }
}

.input__button:hover {
  background-color: #047857;
  filter: brightness(1.05);
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
  width: max-content;
}

.title-block--left {
  margin: 0;
  align-items: flex-start;
}

.title-block__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-block__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #F59E0B;
  margin-bottom: 12px;
}

.title-block__line {
  width: 32px;
  height: 1px;
  background-color: #F59E0B;
  margin-bottom: 8px;
}

.title-block__line--left {
  position: absolute;
  top: 8.5px;
  left: -40px;
}

.title-block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1B1C57;
}

@media (max-width: 767.98px) {
  .title-block__title {
    font-size: 26.5px;
    line-height: 33.5px;
  }
}

.contact-block {
  display: flex;
}

.contact-block__icon-wrapper {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 28px;
  filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
  margin-right: 24px;
}

.contact-block__icon-wrapper--small {
  width: 40px;
  height: 40px;
  align-self: center;
}

.contact-block__icon-wrapper img {
  object-fit: cover;
  object-position: -33px -24px;
}

@media (max-width: 767.98px) {
  .contact-block__icon-wrapper {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .contact-block__icon-wrapper img {
    width: 85.5px;
    height: 85.5px;
    object-fit: cover;
    object-position: -23px -16px;
  }
}

.contact-block__person-info {
  display: flex;
  flex-direction: column;
  margin-right: 59px;
}

.contact-block__person-info--recommendation {
  margin-right: 0;
}

.contact-block__name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0E1735;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.contact-block__name--small {
  font-size: 14px;
  line-height: 22px;
}

@media (max-width: 767.98px) {
  .contact-block__name {
    font-size: 14px;
    line-height: 22px;
  }
}

.contact-block__job-title, .contact-block__location {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.contact-block__job-title--small, .contact-block__location--small {
  font-size: 14px;
  line-height: 22px;
}

.contact-block:hover img {
  filter: brightness(1.08);
}

.article-block {
  display: flex;
  margin-bottom: 44px;
}

.article-block--big {
  flex-direction: column;
  margin: 0;
}

.article-block__img {
  width: 200px;
  height: 144px;
  margin-right: 32px;
  border-radius: 16px;
}

.article-block__img--big {
  width: 560px;
  height: 280px;
  margin: 0 0 24px;
}

.article-block__img:hover {
  filter: brightness(1.08);
}

.article-block__content {
  display: flex;
  flex-direction: column;
}

.article-block__author-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.article-block__author-wrapper:hover img {
  filter: brightness(1.08);
}

.article-block__author-pic-wrapper {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.article-block__author-pic-wrapper img {
  object-fit: cover;
  object-position: -31px -22px;
  filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
}

.article-block__author-name {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #3C4563;
  text-transform: capitalize;
}

.article-block__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B1C57;
  margin-bottom: 12px;
}

.article-block__title--big {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.article-block__description {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
}

.article-block__date-wrapper {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.article-block__date-wrapper:hover {
  font-weight: 400;
  color: #3C4563;
}

.article-block__date-wrapper:hover > svg {
  fill: #3C4563;
}

.article-block__time-icon {
  fill: #888B97;
  margin-right: 14px;
}

.article-block__line-symbol {
  margin: 0 4px;
}

.navigation {
  position: absolute;
  top: 46px;
  left: calc(50% - 600px);
  z-index: 1000;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 17px;
  padding: 0 16px;
}

.menu__item--dropdown {
  width: 122px;
  position: relative;
}

.menu__item--dropdown::after {
  content: url("../img/header/header-quotation-mark-right.svg");
  position: absolute;
  top: 6px;
  right: 14px;
}

.menu__item--dropdown:hover::after {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='%231B1C57' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6236 7.12001C14.624 6.94625 14.5631 6.77784 14.4515 6.64404C14.3887 6.56874 14.3116 6.50649 14.2245 6.46086C14.1374 6.41523 14.0421 6.38712 13.9441 6.37814C13.8461 6.36916 13.7473 6.37948 13.6533 6.40852C13.5593 6.43756 13.472 6.48474 13.3964 6.54736L9.38526 9.87916L5.36668 6.66635C5.29013 6.60458 5.20205 6.55844 5.10751 6.53061C5.01296 6.50277 4.91381 6.49377 4.81576 6.50414C4.71771 6.51451 4.62268 6.54403 4.53614 6.59101C4.44961 6.638 4.37327 6.70151 4.31151 6.77791C4.24339 6.85486 4.192 6.94497 4.16058 7.04259C4.12916 7.14021 4.11838 7.24323 4.12892 7.34519C4.13946 7.44715 4.17109 7.54584 4.22183 7.63507C4.27257 7.7243 4.34132 7.80215 4.42377 7.86372L8.91381 11.4558C9.04771 11.5652 9.21567 11.625 9.38901 11.625C9.56234 11.625 9.7303 11.5652 9.8642 11.4558L14.3542 7.73729C14.4448 7.66268 14.5164 7.56791 14.5632 7.46066C14.61 7.35341 14.6307 7.23671 14.6236 7.12001Z' fill='%231B1C57'/%3E%3C/svg%3E");
}

.menu__item:not(:first-child) {
  margin-left: 24px;
}

.menu__item:last-child {
  height: 46px;
  padding: 0 24px;
  margin-left: 56px;
  background-color: #D1FAE5;
}

.menu__item:last-child > .menu__link {
  color: #047857;
}

.menu__item:last-child:hover {
  background-color: #10B981;
}

.menu__item:last-child:hover > .menu__link {
  color: #ffffff;
}

.menu__item:hover {
  background-color: #F0F3FD;
}

.menu__item:hover > .menu__link {
  color: #1B1C57;
}

.menu__item:hover > .menu__select {
  color: #1B1C57;
}

.menu__select {
  width: 100%;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #F0F3FD;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menu__option {
  background-color: #F0F3FD;
  color: #1B1C57;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #F0F3FD;
}

#menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  user-select: none;
}

#menu-toggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menu-toggle a:hover {
  color: tomato;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu-burger {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu-burger li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menu-toggle input:checked ~ ul {
  transform: none;
}

.header {
  position: relative;
  height: 720px;
  margin-bottom: 120px;
}

@media (max-width: 991.98px) {
  .header {
    height: 1480px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .header {
    margin-bottom: 30px;
  }
}

.header__wrapper {
  width: 1440px;
  max-width: 1440px;
  position: relative;
}

@media (max-width: 991.98px) {
  .header__wrapper {
    width: 720px;
    max-width: 720px;
  }
}

.header__row {
  width: 100%;
  margin: 0;
}

@media (max-width: 991.98px) {
  .header__row {
    flex-direction: column;
    align-items: center;
  }
}

.header__column {
  height: 720px;
  padding: 0;
}

@media (max-width: 991.98px) {
  .header__column {
    width: 720px;
  }
}

.header__column--left {
  display: flex;
  flex-direction: column;
  padding: 182px 105px 0 120px;
}

@media (max-width: 991.98px) {
  .header__column--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

.header__column--right {
  position: relative;
  background: linear-gradient(16.74deg, #0C1537 -6.09%, rgba(12, 21, 55, 0) 32.63%), url("../img/header/header-bg.png");
  border-radius: 0px 0px 0px 80px;
}

.header__button {
  width: 109px;
  justify-content: flex-start;
  padding-left: 16px;
}

.header__button::after {
  content: url("../img/header/header-quotation-mark.svg");
  margin-left: 13px;
  margin-top: 3px;
}

.header__icon {
  position: absolute;
  top: 17px;
  left: 27px;
}

.header__slider {
  position: absolute;
  bottom: 48px;
  left: 48px;
  width: 672px;
  height: 104px;
}

.header__slider-images {
  margin-right: 16px;
  display: flex;
}

.header__slider-image-wrapper {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 28px;
  filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
}

.header__slider-image-wrapper img {
  object-fit: cover;
  object-position: -33px -24px;
}

.header__slider-image-wrapper--margin {
  margin-left: -28px;
}

.header__slider-block {
  text-transform: capitalize;
}

.header__slider-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C57;
}

.header__slider-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #68799F;
}

.header__slide {
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  /* Firefox/Gecko */
  /* Chrome */
  width: max-content;
  padding: 24px;
  height: 104px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 32px;
}

.header__slide:not(:last-child) {
  margin-right: 16px;
}

.header__title {
  max-width: 365px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #1B1C57;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.header__title--outline {
  -webkit-text-stroke: 1px #1B1C57;
  -webkit-text-fill-color: transparent;
}

.header__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 32px;
}

.header__form {
  margin-bottom: 32px;
}

.header__input {
  border: 1px solid #E0E3EB;
}

.header__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}

.header__logo:not(:last-child) {
  margin-right: 32px;
}

.header__shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__border-line--1 {
  width: 66.5px;
  height: 91.5px;
  position: absolute;
  top: 139.5px;
  left: 82px;
  border-top: 4px solid #EF4444;
  border-left: 4px solid #EF4444;
  border-top-left-radius: 6px;
}

.header__border-line--2 {
  width: 39.5px;
  height: 97px;
  position: absolute;
  top: 200.5px;
  right: 124.5px;
  border-top: 4px solid #F59E0B;
  border-right: 4px solid #F59E0B;
  border-top-right-radius: 4px;
}

.header__border-line--3 {
  width: 42.5px;
  height: 75px;
  position: absolute;
  right: 113px;
  bottom: 239px;
  border-top: 4px solid #3B82F6;
  border-right: 4px solid #3B82F6;
  border-top-right-radius: 6px;
}

.header__border-line--4 {
  width: 44.5px;
  height: 4px;
  background-color: #D1FAE5;
  position: absolute;
  top: 367px;
  left: 244px;
}

.header__border-line--5 {
  width: 14.5px;
  height: 4px;
  background-color: #D1FAE5;
  position: absolute;
  top: 367px;
  left: 304.5px;
}

.header__border-line--6 {
  width: 31.5px;
  height: 4px;
  background-color: #D1FAE5;
  position: absolute;
  top: 367px;
  left: 334.5px;
}

.recommendation {
  height: 662px;
  margin-bottom: 120px;
  position: relative;
}

@media (max-width: 1399.98px) {
  .recommendation {
    height: 772px;
  }
}

.recommendation__wrapper {
  display: flex;
  flex-direction: column;
}

.recommendation__title {
  margin-bottom: 40px;
}

.recommendation__slider {
  width: 1200px;
  height: 662px;
  position: absolute;
  top: 0;
  left: calc(50% - 600px);
  padding-top: 110px;
}

@media (max-width: 1399.98px) {
  .recommendation__slider {
    top: 110px;
    overflow: hidden;
  }
}

.recommendation__slide {
  width: 340px;
  margin-right: 40px;
}

.recommendation__slide-wrapper {
  position: relative;
}

.recommendation__slide-pic {
  border-radius: 24px;
  margin-bottom: 24px;
}

.recommendation__buttons-wrapper {
  position: absolute;
  top: 18px;
  left: 440px;
  z-index: 2;
  width: max-content;
}

@media (max-width: 1199.98px) {
  .recommendation__buttons-wrapper {
    left: 280px;
  }
}

.recommendation__button {
  height: 52px;
  padding: 12px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #888B97;
  background-color: transparent;
  border: 1px solid #E0E3EB;
  border-radius: 32px;
}

.recommendation__button::before {
  margin-right: 11px;
}

.recommendation__button--house::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 8.83189V17.5C17.9998 17.7719 17.9262 18.0386 17.7868 18.272C17.6475 18.5054 17.4476 18.6968 17.2084 18.8259C16.9916 18.9432 16.7485 19.0031 16.5021 18.9999H11.9967C11.7978 18.9999 11.607 18.9209 11.4664 18.7803C11.3257 18.6396 11.2467 18.4488 11.2467 18.2499V13.7493C11.2467 13.5504 11.1677 13.3596 11.0271 13.2189C10.8864 13.0783 10.6956 12.9993 10.4967 12.9993H7.49673C7.29781 12.9993 7.10705 13.0783 6.9664 13.2189C6.82574 13.3596 6.74673 13.5504 6.74673 13.7493V18.2499C6.74673 18.4488 6.66771 18.6396 6.52706 18.7803C6.3864 18.9209 6.19564 18.9999 5.99673 18.9999H1.5002C1.28754 19.0005 1.07723 18.9556 0.883354 18.8682C0.689475 18.7808 0.516507 18.653 0.37604 18.4934C0.12946 18.2082 -0.00428751 17.8427 8.829e-06 17.4657V8.8318C0.000172265 8.62281 0.0439196 8.41615 0.128457 8.22503C0.212994 8.0339 0.336463 7.86251 0.490978 7.7218L7.99032 0.903078C8.26579 0.650753 8.62579 0.510777 8.99936 0.510742C9.37293 0.510707 9.73296 0.650617 10.0085 0.90289L17.5091 7.72189C17.6636 7.86263 17.787 8.03403 17.8716 8.22515C17.9561 8.41627 17.9998 8.62292 18 8.83189Z' fill='%23888B97'/%3E%3C/svg%3E");
}

.recommendation__button--house:focus::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 8.83189V17.5C17.9998 17.7719 17.9262 18.0386 17.7868 18.272C17.6475 18.5054 17.4476 18.6968 17.2084 18.8259C16.9916 18.9432 16.7485 19.0031 16.5021 18.9999H11.9967C11.7978 18.9999 11.607 18.9209 11.4664 18.7803C11.3257 18.6396 11.2467 18.4488 11.2467 18.2499V13.7493C11.2467 13.5504 11.1677 13.3596 11.0271 13.2189C10.8864 13.0783 10.6956 12.9993 10.4967 12.9993H7.49673C7.29781 12.9993 7.10705 13.0783 6.9664 13.2189C6.82574 13.3596 6.74673 13.5504 6.74673 13.7493V18.2499C6.74673 18.4488 6.66771 18.6396 6.52706 18.7803C6.3864 18.9209 6.19564 18.9999 5.99673 18.9999H1.5002C1.28754 19.0005 1.07723 18.9556 0.883354 18.8682C0.689475 18.7808 0.516507 18.653 0.37604 18.4934C0.12946 18.2082 -0.00428751 17.8427 8.829e-06 17.4657V8.8318C0.000172265 8.62281 0.0439196 8.41615 0.128457 8.22503C0.212994 8.0339 0.336463 7.86251 0.490978 7.7218L7.99032 0.903078C8.26579 0.650753 8.62579 0.510777 8.99936 0.510742C9.37293 0.510707 9.73296 0.650617 10.0085 0.90289L17.5091 7.72189C17.6636 7.86263 17.787 8.03403 17.8716 8.22515C17.9561 8.41627 17.9998 8.62292 18 8.83189Z' fill='%2310B981'/%3E%3C/svg%3E");
}

.recommendation__button--villa::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 18.0001H1C0.45 18.0001 0 17.5501 0 17.0001V5.69006C0 5.27006 0.25 4.90006 0.64 4.75006L11.64 0.52006C11.7921 0.461382 11.9561 0.440759 12.118 0.459986C12.2798 0.479212 12.4345 0.537706 12.5686 0.630376C12.7027 0.723045 12.8121 0.847081 12.8873 0.991686C12.9624 1.13629 13.0012 1.29708 13 1.46006V7.00006H5C4.45 7.00006 4 7.45006 4 8.00006V18.0001ZM14 9.00006H7C6.45 9.00006 6 9.45006 6 10.0001V17.0001C6 17.5501 6.45 18.0001 7 18.0001H11V14.0001C11 13.4501 11.45 13.0001 12 13.0001C12.55 13.0001 13 13.4501 13 14.0001V18.0001H17C17.55 18.0001 18 17.5501 18 17.0001V9.00006C18 7.90006 17.1 7.00006 16 7.00006C14.9 7.00006 14 7.90006 14 9.00006Z' fill='%23888B97'/%3E%3C/svg%3E");
}

.recommendation__button--villa:focus::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 18.0001H1C0.45 18.0001 0 17.5501 0 17.0001V5.69006C0 5.27006 0.25 4.90006 0.64 4.75006L11.64 0.52006C11.7921 0.461382 11.9561 0.440759 12.118 0.459986C12.2798 0.479212 12.4345 0.537706 12.5686 0.630376C12.7027 0.723045 12.8121 0.847081 12.8873 0.991686C12.9624 1.13629 13.0012 1.29708 13 1.46006V7.00006H5C4.45 7.00006 4 7.45006 4 8.00006V18.0001ZM14 9.00006H7C6.45 9.00006 6 9.45006 6 10.0001V17.0001C6 17.5501 6.45 18.0001 7 18.0001H11V14.0001C11 13.4501 11.45 13.0001 12 13.0001C12.55 13.0001 13 13.4501 13 14.0001V18.0001H17C17.55 18.0001 18 17.5501 18 17.0001V9.00006C18 7.90006 17.1 7.00006 16 7.00006C14.9 7.00006 14 7.90006 14 9.00006Z' fill='%2310B981'/%3E%3C/svg%3E");
}

.recommendation__button--apartment::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8V2C14 0.9 13.1 0 12 0H6C4.9 0 4 0.9 4 2V4H2C0.9 4 0 4.9 0 6V16C0 17.1 0.9 18 2 18H8V14H10V18H16C17.1 18 18 17.1 18 16V10C18 8.9 17.1 8 16 8H14ZM4 16H2V14H4V16ZM4 12H2V10H4V12ZM4 8H2V6H4V8ZM8 12H6V10H8V12ZM8 8H6V6H8V8ZM8 4H6V2H8V4ZM12 12H10V10H12V12ZM12 8H10V6H12V8ZM12 4H10V2H12V4ZM16 16H14V14H16V16ZM16 12H14V10H16V12Z' fill='%23888B97'/%3E%3C/svg%3E");
}

.recommendation__button--apartment:focus::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8V2C14 0.9 13.1 0 12 0H6C4.9 0 4 0.9 4 2V4H2C0.9 4 0 4.9 0 6V16C0 17.1 0.9 18 2 18H8V14H10V18H16C17.1 18 18 17.1 18 16V10C18 8.9 17.1 8 16 8H14ZM4 16H2V14H4V16ZM4 12H2V10H4V12ZM4 8H2V6H4V8ZM8 12H6V10H8V12ZM8 8H6V6H8V8ZM8 4H6V2H8V4ZM12 12H10V10H12V12ZM12 8H10V6H12V8ZM12 4H10V2H12V4ZM16 16H14V14H16V16ZM16 12H14V10H16V12Z' fill='%2310B981'/%3E%3C/svg%3E");
}

.recommendation__button:focus {
  background-color: #D1FAE5;
  color: #10B981;
}

.recommendation__button:not(:last-child) {
  margin-right: 32px;
}

.recommendation__button-prev, .recommendation__button-next {
  width: 60px;
  height: 52px;
  border-radius: 32px;
  background-color: #E0E3EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendation__button-prev > svg, .recommendation__button-next > svg {
  fill: #3C4563;
}

.recommendation__button-prev::after, .recommendation__button-next::after {
  content: '';
}

.recommendation__button-prev:hover, .recommendation__button-next:hover {
  background-color: #10B981;
}

.recommendation__button-prev:hover > svg, .recommendation__button-next:hover > svg {
  fill: #ffffff;
}

.recommendation__button-prev {
  position: absolute;
  top: 18px;
  right: 76px;
}

@media (max-width: 1399.98px) {
  .recommendation__button-prev {
    left: 1000px;
  }
}

@media (max-width: 1199.98px) {
  .recommendation__button-prev {
    left: 840px;
  }
}

.recommendation__button-next {
  position: absolute;
  top: 18px;
  right: 0;
}

@media (max-width: 1399.98px) {
  .recommendation__button-next {
    left: 1076px;
  }
}

@media (max-width: 1199.98px) {
  .recommendation__button-next {
    left: 916px;
  }
}

.recommendation-block__wrapper {
  margin-bottom: 24px;
}

.recommendation-block__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: #0E1735;
  margin-bottom: 8px;
}

.recommendation-block__price {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3C4563;
}

.recommendation-block__marker {
  height: 34px;
  display: flex;
  padding: 8px 16px;
  border-radius: 32px;
  position: absolute;
  bottom: 50px;
  left: 16px;
}

.recommendation-block__marker--popular {
  background-color: #FEE2E2;
  color: #EF4444;
}

.recommendation-block__marker--new-house {
  background-color: #DBEAFE;
  color: #1D4ED8;
}

.recommendation-block__marker--best-deals {
  background-color: #D1FAE5;
  color: #047857;
}

.recommendation-block__marker-icon {
  margin-right: 12px;
}

.recommendation-block__marker-category {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
}

.recommendation__contact-block {
  align-items: center;
}

.recommendation__person-pic {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.sell {
  height: 459px;
  margin-bottom: 120px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .sell {
    height: 960px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .sell {
    margin-bottom: 30px;
  }
}

.sell__wrapper {
  width: 1200px;
  position: relative;
}

.sell__row {
  width: 100%;
  margin: 0;
}

@media (max-width: 991.98px) {
  .sell__row {
    flex-direction: column;
    align-items: center;
  }
}

.sell__column {
  padding: 0;
}

@media (max-width: 991.98px) {
  .sell__column {
    width: 100%;
  }
}

.sell__column--left {
  padding: 25px 0 0 40px;
}

@media (max-width: 991.98px) {
  .sell__column--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

.sell__title {
  margin-bottom: 16px;
}

@media (max-width: 767.98px) {
  .sell__title {
    margin-bottom: 12.5px;
  }
}

.sell__text {
  width: 420px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 16px;
}

@media (max-width: 991.98px) {
  .sell__text {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .sell__text {
    width: 323px;
    font-size: 12px;
    line-height: 21.5px;
    margin-bottom: 12.5px;
  }
}

.sell__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1B1C57;
  opacity: 0.75;
  margin-bottom: 24px;
}

.sell__block {
  width: 345px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sell__block-item {
  width: 145px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.sell__details-icon-wrapper {
  position: relative;
  width: 24px;
  margin-right: 20px;
  align-items: center;
}

.sell__details-icon--2-1 {
  position: absolute;
  right: 4.5px;
  bottom: 5.5px;
}

.sell__details-icon--2-2 {
  position: absolute;
  right: 1px;
  bottom: 0px;
}

.sell__details-icon--2-3 {
  position: absolute;
  top: -1px;
  left: 0;
}

.sell__details-icon--2-4 {
  position: absolute;
  top: 1px;
  left: 1.5px;
}

.sell__details-icon--2-5 {
  position: absolute;
  right: 8.5px;
  bottom: 5.5px;
}

.sell__details-icon--2-6 {
  position: absolute;
  right: 8.5px;
  bottom: 2.5px;
}

.sell__details-icon--2-7 {
  position: absolute;
  right: 12px;
  bottom: 3px;
}

.sell__details-icon--3-1 {
  position: absolute;
  bottom: 3px;
  left: 0;
}

.sell__details-icon--3-2 {
  position: absolute;
  top: -3px;
  left: 3px;
}

.sell__details-icon--4-1 {
  position: absolute;
  top: -11px;
  left: 0;
}

.sell__details-icon--4-2 {
  position: absolute;
  top: -7px;
  left: 4px;
}

.sell__details-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #3C4563;
}

@media (max-width: 767.98px) {
  .sell__details-text {
    font-size: 12.5px;
    line-height: 15.5px;
  }
}

.sell__line {
  width: 440px;
  height: 2px;
  background-color: #F0F3FD;
  margin-bottom: 32px;
}

.sell__button {
  width: 163px;
  position: relative;
  justify-content: end;
  padding-right: 16px;
}

@media (max-width: 767.98px) {
  .sell__button {
    width: 125px;
  }
}

.sell__button-wrapper {
  position: relative;
}

.sell__button-wrapper img {
  position: absolute;
  top: 16.5px;
  left: 16px;
}

@media (max-width: 767.98px) {
  .sell__button-wrapper img {
    top: 12.5px;
    width: 12.5px;
    height: 15.5px;
  }
}

.sell__contact-block {
  align-items: center;
}

.sell__gallery {
  position: relative;
  height: 459px;
}

.sell__slider {
  width: 488px;
  height: 416px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.sell__slide {
  position: relative;
}

.sell__house-pic {
  border-radius: 4px;
}

.sell__house-pic:hover {
  filter: brightness(1.08);
  border-radius: 12px;
}

.sell__house-pic--small:hover {
  border-radius: 8px;
}

.sell__house-pic--1 {
  position: absolute;
  bottom: 0;
  left: 72px;
  z-index: 2;
}

.sell__house-pic--2 {
  position: absolute;
  right: 124px;
  bottom: 0;
  z-index: 2;
}

.sell__house-pic--3 {
  position: absolute;
  right: 20px;
  bottom: 0;
  z-index: 2;
}

.sell__house-pic--video {
  position: absolute;
  top: 184px;
  right: 220px;
  z-index: 1000;
}

.sell__shape {
  position: absolute;
  right: -125px;
  bottom: 70px;
  z-index: -1000;
}

.review {
  margin-bottom: 120px;
}

.review__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__title {
  margin-bottom: 40px;
}

.review__slider {
  width: 100%;
  height: 562px;
}

.review__slide {
  width: 740px;
  position: relative;
  margin: 0 28px;
}

.review__slide-pic {
  border-radius: 8px;
}

.review__slide:hover > img {
  filter: brightness(1.08);
  border: 3px solid #888B97;
  border-radius: 16px;
}

.review-block {
  position: absolute;
  top: 256px;
  right: 64px;
  width: 612px;
  height: 249px;
  padding: 32px;
  background-color: #ffffff;
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.review-block__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #1B1C57;
  margin-bottom: 16px;
}

.review-block__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 24px;
}

.review-block__wrapper {
  position: relative;
}

.review-block__wrapper:hover svg {
  filter: brightness(1.08);
}

.review-block__wrapper:hover img {
  filter: brightness(1.08);
}

.review__rating {
  height: 28px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

.review__star-icon {
  fill: #F59E0B;
  margin-right: 18.5px;
}

.review__score {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #3C4563;
}

.swiper-pagination-bullet-active {
  background-color: #3C4563;
}

.tips {
  height: 753px;
  margin-bottom: 120px;
}

.tips__wrapper {
  flex-direction: column;
  position: relative;
}

.tips__column {
  padding: 0;
}

.tips__column--left {
  padding-right: 28px;
}

.tips__column--right {
  padding-left: 40px;
}

.tips__title {
  width: 450px;
  text-align: center;
  margin-bottom: 24px;
}

.tips__button {
  width: 118px;
  height: 46px;
  padding: 0 16px;
  position: relative;
  align-self: center;
  margin-bottom: 40px;
}

.tips__row {
  width: 100%;
  margin: 0;
}

.tips__shape {
  position: absolute;
  top: -140px;
  left: -120px;
  z-index: -1;
}

.subscribe {
  height: 312px;
  margin-bottom: 120px;
}

@media (max-width: 991.98px) {
  .subscribe {
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .subscribe {
    margin-bottom: 30px;
  }
}

.subscribe__wrapper {
  background: url("../img/subscribe/subscribe-bg.png");
  background-size: cover;
  height: 312px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.subscribe__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  width: 425px;
  text-align: center;
  color: #1B1C57;
  margin-bottom: 32px;
}

@media (max-width: 991.98px) {
  .subscribe__title {
    font-size: 26.5px;
    line-height: 40px;
    width: 355px;
    margin-bottom: 26.5px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__title {
    font-size: 20.5px;
    line-height: 31px;
    width: 273px;
    margin-bottom: 20.5px;
  }
}

.subscribe__form {
  height: 54px;
  width: 496px;
  position: relative;
}

@media (max-width: 767.98px) {
  .subscribe__form {
    height: 41.5px;
    width: 381.5px;
  }
}

.subscribe__icon {
  position: absolute;
  top: 19px;
  left: 26px;
}

.subscribe__button {
  width: 129px;
  height: 46px;
  background-color: #10B981;
  border: 0;
  border-radius: 23px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
  position: absolute;
  bottom: 4px;
  left: 363px;
}

@media (max-width: 767.98px) {
  .subscribe__button {
    width: 99px;
    height: 35px;
    border-radius: 17px;
    font-size: 10.5px;
  }
}

.subscribe__img--pic-1 {
  position: absolute;
  top: 38px;
  left: 44px;
}

@media (max-width: 1199.98px) {
  .subscribe__img--pic-1 {
    left: 40px;
  }
}

@media (max-width: 991.98px) {
  .subscribe__img--pic-1 {
    top: 70px;
    left: 30px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__img--pic-1 {
    top: 50px;
    left: 20px;
  }
}

.subscribe__img--pic-4 {
  position: absolute;
  top: 178px;
  left: 195px;
}

@media (max-width: 1199.98px) {
  .subscribe__img--pic-4 {
    left: 150px;
  }
}

@media (max-width: 991.98px) {
  .subscribe__img--pic-4 {
    top: 20px;
    left: 450px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__img--pic-4 {
    top: 20px;
    left: 340px;
  }
}

.subscribe__img--pic-5 {
  position: absolute;
  top: 44px;
  left: 930px;
}

@media (max-width: 1199.98px) {
  .subscribe__img--pic-5 {
    left: 800px;
  }
}

@media (max-width: 991.98px) {
  .subscribe__img--pic-5 {
    top: 60px;
    left: 585px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__img--pic-5 {
    top: 60px;
    left: 440px;
  }
}

.subscribe__img--pic-8 {
  position: absolute;
  top: 197px;
  left: 1072px;
}

@media (max-width: 1199.98px) {
  .subscribe__img--pic-8 {
    left: 880px;
  }
}

@media (max-width: 991.98px) {
  .subscribe__img--pic-8 {
    top: 225px;
    left: 640px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__img--pic-8 {
    top: 235px;
    left: 460px;
  }
}

.subscribe__img-wrapper {
  width: 38px;
  height: 38px;
  overflow: hidden;
}

.subscribe__img-wrapper--pic-2 {
  position: absolute;
  top: 71px;
  left: 204px;
}

@media (max-width: 1199.98px) {
  .subscribe__img-wrapper--pic-2 {
    left: 189px;
  }
}

@media (max-width: 991.98px) {
  .subscribe__img-wrapper--pic-2 {
    top: 30px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__img-wrapper--pic-2 {
    left: 160px;
  }
}

.subscribe__img-wrapper--pic-3 {
  position: absolute;
  top: 173px;
  left: 67px;
}

@media (max-width: 991.98px) {
  .subscribe__img-wrapper--pic-3 {
    top: 25px;
    left: 320px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__img-wrapper--pic-3 {
    top: 25px;
    left: 250px;
  }
}

.subscribe__img-wrapper--pic-6 {
  position: absolute;
  top: 107px;
  left: 1082px;
}

@media (max-width: 1199.98px) {
  .subscribe__img-wrapper--pic-6 {
    left: 900px;
  }
}

@media (max-width: 991.98px) {
  .subscribe__img-wrapper--pic-6 {
    top: 250px;
    left: 40px;
  }
}

.subscribe__img-wrapper--pic-7 {
  position: absolute;
  top: 143px;
  left: 964px;
}

@media (max-width: 1199.98px) {
  .subscribe__img-wrapper--pic-7 {
    left: 800px;
  }
}

@media (max-width: 991.98px) {
  .subscribe__img-wrapper--pic-7 {
    top: 255px;
    left: 340px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__img-wrapper--pic-7 {
    top: 255px;
    left: 270px;
  }
}

.subscribe__img-wrapper img {
  object-fit: cover;
  object-position: -33px -24px;
}

.subscribe__icon {
  fill: #3B82F6;
}

@media (max-width: 767.98px) {
  .subscribe__icon {
    position: absolute;
    top: 14.5px;
    left: 20px;
  }
}

.footer {
  height: 180px;
}

@media (max-width: 991.98px) {
  .footer {
    height: 220px;
    overflow: hidden;
  }
}

@media (max-width: 767.98px) {
  .footer {
    height: 280px;
    overflow: hidden;
  }
}

.footer__wrapper {
  justify-content: space-between;
  position: relative;
}

.footer__column {
  font-size: 14px;
  font-weight: 300;
  color: #888B97;
}

@media (max-width: 991.98px) {
  .footer__column {
    font-size: 11.5px;
    margin-right: 10px;
  }
}

.footer__column--info {
  width: 320px;
  margin-right: 173px;
}

@media (max-width: 1199.98px) {
  .footer__column--info {
    width: 267px;
    margin-right: 144px;
  }
}

@media (max-width: 991.98px) {
  .footer__column--info {
    width: 222.5px;
    margin-right: 120px;
  }
}

@media (max-width: 767.98px) {
  .footer__column--info {
    width: 171px;
    margin-right: 92.5px;
  }
}

.footer__column:hover h3 {
  color: #047857;
}

.footer__company-logo {
  margin-bottom: 16px;
}

.footer__subtitle {
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 600;
  color: #0E1735;
  margin-bottom: 24px;
}

@media (max-width: 991.98px) {
  .footer__subtitle {
    font-size: 15px;
    line-height: 18.75px;
    margin-bottom: 16.5px;
  }
}

@media (max-width: 991.98px) {
  .footer__subtitle {
    font-size: 11.5px;
    line-height: 14.5px;
    margin-bottom: 12.5px;
  }
}

.footer__text {
  color: #626687;
  opacity: 0.75;
  line-height: 24px;
  margin-bottom: 30px;
}

.footer__social-media-link:first-child {
  margin-left: 9px;
}

@media (max-width: 991.98px) {
  .footer__social-media-link:first-child {
    margin-left: 0;
  }
}

.footer__social-media-link:not(:last-child) {
  margin-right: 36px;
}

@media (max-width: 991.98px) {
  .footer__social-media-link:not(:last-child) {
    margin-right: 18px;
  }
}

.footer__shape {
  position: absolute;
  right: -80px;
  bottom: -120px;
  z-index: -1;
}

.footer__icon {
  fill: #3C4563;
}

.footer__icon:hover {
  fill: #10B981;
}
