.contact-block {
  display: flex;

  &__icon {
    &-wrapper {
      width: 56px;
      height: 56px;
      overflow: hidden;
      border-radius: 28px;
      filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
      margin-right: 24px;

      &--small {
        width: 40px;
        height: 40px;
        align-self: center;
      }

      & img {
        object-fit: cover;
        object-position: -33px -24px;
      }
    }
  }

  &__person-info {
    display: flex;
    flex-direction: column;
    margin-right: 59px;

    &--recommendation {
      margin-right: 0;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $Black;
    margin-bottom: 4px;
    text-transform: capitalize;

    &--small {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__job-title, &__location {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &--small {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &:hover {
    & img {
      filter: brightness(1.08);
    }
  }
}