.input {
  &__form {
    height: 54px;
    width: 496px;
    position: relative;

    @media (max-width: 767.98px) {
      height: 41.5px;
      width: 381.5px;
    }
  }

  &__field {
    height: 54px;
    width: 496px;
    border: 0;
    border-radius: 27px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 64px;
    color: $Grey;

    @media (max-width: 767.98px) {
      height: 41.5px;
      width: 381.5px;
      border-radius: 20px;
      font-size: 10.5px;
      padding-left: 49px;
    }

    &::placeholder {
      color: $Grey;
    }

    &::-webkit-input-placeholder {
      color: $Grey;
    }

    &::-moz-placeholder {
      color: $Grey;
    }

    &::-ms-input-placeholder {
      color: $Grey;
    }

    &:-moz-placeholder {
      color: $Grey;
    }

    &:focus {
      border: 2px solid $Green;
    }
  }

  &__icon {
    @include pos(absolute, 19px, false, false, 26px);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 129px;
    height: 46px;
    background-color: $Green;
    border: 0;
    border-radius: 23px;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: $White;
    @include pos(absolute, 4px, 4px);

    @media (max-width: 767.98px) {
      width: 99px;
      height: 35px;
      border-radius: 17px;
      font-size: 10.5px;

      @include pos(absolute, 3px, 3px);
    }

    &:hover {
      background-color: $Forest-Green;
      filter: brightness(1.05);
    }
  }
}


