// ----- COLOURS -----

// Grey/Black
$Black-20: rgba(0, 0, 0, 0.2);
$Black: #0E1735;
$Light-Grey: #C4C4C4;
$Grey: #888B97;
$Dark-Grey: #3C4563;
// Blue
$Alice-Blue: #F0F3FD;
$Lavender-Blue: #E0E3EB;
$Lavender-Blue2: #DBEAFE;
$Royal-Blue: #3B82F6;
$French-Sky-Blue: #82BBFF;
$Navy-Blue: #1D4ED8;
$Midnight-Blue: #1B1C57;
$Weldon-Blue: #68799F;
$Pale-Violet: #626687;
// Yellow
$Yellow: #FFFA82;
$Orange: #F59E0B;
// Green
$Turquoise: #4BE4C9;
$Pale-Mint: #D1FAE5;
$Yellow-Green: #C8FF82;
$Pale-Green: #B9FF82;
$Green: #10B981;
$Forest-Green: #047857;
// Pink/Red
$Misty-Rose: #FEE2E2;
$Vivid-Tangerine: #FF9882;
$Red: #EF4444;
// White
$White: #ffffff;
$White-10: rgba(255, 255, 255, 0.1);
$White-30: rgba(255, 255, 255, 0.3);
$White-50: rgba(255, 255, 255, 0.5);
