.footer {
  height: 180px;
  overflow: hidden;  

  @media (max-width: 991.98px) {
    height: 220px;
    overflow: hidden;
  }

  @media (max-width: 767.98px) {
    height: 280px;
    overflow: hidden;
  }

  &__wrapper {
    justify-content: space-between;
    position: relative;
  }

  &__column {
    font-size: 14px;
    font-weight: 300;
    color: $Grey;

    @media (max-width: 991.98px) {
      font-size: 11.5px;
      margin-right: 10px;
    }

    &--info {
      width: 320px;
      margin-right: 173px;

      @media (max-width: 1199.98px) {
        width: 267px;
        margin-right: 144px;
      }

      @media (max-width: 991.98px) {
        width: 222.5px;
        margin-right: 120px;
      }

      @media (max-width: 767.98px) {
        width: 171px;
        margin-right: 92.5px;
      }

    }

    &:hover {
      & h3 {
        color: $Forest-Green;
      }
    }
  }

  &__company-logo {
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 22.5px;
    font-weight: 600;
    color: $Black;
    margin-bottom: 24px;

    @media (max-width: 991.98px) {
      font-size: 15px;
      line-height: 18.75px;
      margin-bottom: 16.5px;
    }

    @media (max-width: 991.98px) {
      font-size: 11.5px;
      line-height: 14.5px;
      margin-bottom: 12.5px;
    }
  }

  &__text {
    color: $Pale-Violet;
    opacity: 0.75;
    line-height: 24px;
    margin-bottom: 30px;
  }

  &__social-media-link {
    &:first-child{
      margin-left: 9px;

      @media (max-width: 991.98px) {
        margin-left: 0;
      }
    }

    &:not(:last-child) {
      margin-right: 36px;

      @media (max-width: 991.98px) {
        margin-right: 18px;
      }
    }
  }

  &__shape {
    @include pos(absolute, false, -80px, -120px, false, -1);    
  }

  &__icon {
    fill: $Dark-Grey;

    &:hover {
      fill: $Green;
    }
  }
}