.header {
  position: relative;
  height: 720px;
  margin-bottom: 120px;

  &__wrapper {
    width: 1440px;
    max-width: 1440px;
  }

  &__row {
    width: 100%;
    margin: 0;
  }

  &__column {
    height: 720px;
    padding: 0;

    &--left {
      display: flex;
      flex-direction: column;
      padding: 182px 105px 0 120px;
    }

    &--right {
      position: relative;
      background: linear-gradient(16.74deg, #0C1537 -6.09%, rgba(12, 21, 55, 0) 32.63%), url(../../img/header/header-bg.png);
      border-radius: 0px 0px 0px 80px;
    }
  }

  &__button {
    width: 109px;
    justify-content: flex-start;
    padding-left: 16px;

    &::after {
      content: url(../../img/header/header-quotation-mark.svg);
      margin-left: 13px;
      margin-top: 3px;
    }
  }

  &__icon {
    @include pos(absolute, 17px, false, false, 27px);
  }

  &__slider {
    @include pos(absolute, false, false, 48px, 48px);
    width: 672px;
    height: 104px;

    &-images {
      margin-right: 16px;
      display: flex;
    }

    &-image {
      &-wrapper {
        width: 56px;
        height: 56px;
        overflow: hidden;
        border-radius: 28px;
        filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));

        & img {
          object-fit: cover;
          object-position: -33px -24px;
        }

        &--margin {
          margin-left: -28px;
        }
      }
    }

    &-block {
      text-transform: capitalize;
    }

    &-subtitle {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $Midnight-Blue;
    }

    &-text {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: $Weldon-Blue;
    }
  }
  
  &__slide {
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    width: max-content;
    padding: 24px;
    height: 104px;
    background-color: $White;
    display: flex;
    align-items: center;
    border-radius: 32px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__title {
    max-width: 365px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: $Midnight-Blue;
    text-transform: capitalize;
    margin-bottom: 24px;

    &--outline {
      -webkit-text-stroke: 1px $Midnight-Blue;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: $Pale-Violet;
    opacity: 0.75;
    margin-bottom: 32px;
  }

  &__form {
    margin-bottom: 32px;
  }

  &__input {
    border: 1px solid $Lavender-Blue;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
  }

  &__logo:not(:last-child) {
    margin-right: 32px;
  }
}