.navigation {
  @include pos(absolute, 46px, false, false, calc(50% - 600px), 1000);
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    background: $White-10;
    border: 1px solid $White-30;
    border-radius: 17px;
    padding: 0 16px;

    &--dropdown {
      width: 122px;
      position: relative;

      &::after {
        content: url(../../img/header/header-quotation-mark-right.svg);
        @include pos(absolute, 6px, 14px, false, false, -1);
      }
    }

    &:not(:first-child) {
      margin-left: 24px;
    }

    &:last-child {
      height: 46px;
      padding: 0 24px;
      margin-left: 56px;
      background-color: $Pale-Mint;

      & > .menu__link {
        color: $Forest-Green;
      }

      &:hover {
        background-color: $Green;
      
        & > .menu__link {
          color: $White;
        }
      }
    }

    &:hover {
      background-color: $Alice-Blue;

      & > .menu__link {
        color: $Midnight-Blue;
      }

      & > .menu__select {
        color: $Midnight-Blue;
      }
    }
  }

  &__select {
    width: 100%;
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: $Alice-Blue;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__option {
    background-color: $Alice-Blue;
    color: $Midnight-Blue;
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: $Alice-Blue;
  }
}