.review {
  margin-bottom: 120px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    width: 100%;
    height: 562px;
  }

  &__slide {
    width: 740px;
    position: relative;
    margin: 0 28px;

    &-pic {
      border-radius: 8px;
    }

    &:hover {
      & > img {
        filter: brightness(1.08);
        border: 3px solid $Grey;
        border-radius: 16px;
      }
    }
  }

  &-block {
    @include pos(absolute, 256px, 64px);
    width: 612px;
    height: 249px;
    padding: 32px;
    background-color: $White;
    box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    &__subtitle {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      text-transform: capitalize;
      color: $Midnight-Blue;
      margin-bottom: 16px;
    }

    &__text {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: $Pale-Violet;
      opacity: 0.75;
      margin-bottom: 24px;
    }

    &__wrapper {
      position: relative;

      &:hover {
        & svg {
          filter: brightness(1.08);
        }

        & img {
          filter: brightness(1.08);
        }
      }
    }
  }

  &__rating {
    height: 28px;
    display: flex;
    align-items: center;
    @include pos(absolute, false, 0, 0);
  }

  &__star-icon {
    fill: $Orange;
    margin-right: 18.5px;
  }

  &__score {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $Dark-Grey;
  }
}

.swiper-pagination-bullet-active {
  background-color: $Dark-Grey;
}