.sell {
  height: 459px;
  margin-bottom: 120px;

  &__wrapper {
    width: 1200px;
  }

  &__row {
    width: 100%;
    margin: 0;
  }

  &__column {
    padding: 0;

    &--left {
      padding: 25px 0 0 40px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    width: 420px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: $Pale-Violet;
    opacity: 0.75;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: $Midnight-Blue;
    opacity: 0.75;
    margin-bottom: 24px;
  }

  &__block {
    width: 345px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    &-item {
      width: 145px;
      height: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 26px;
    }
  }

  &__details {
    &-icon {
      &-wrapper {
        position: relative;
        width: 24px;
        margin-right: 20px;
        align-items: center;
      }

      &--2-1 {
        @include pos(absolute, false, 4.5px, 5.5px);
      }

      &--2-2 {
        @include pos(absolute, false, 1px, 0px);
      }

      &--2-3 {
        @include pos(absolute, -1px, false, false, 0);
      }

      &--2-4 {
        @include pos(absolute, 1px, false, false, 1.5px);
      }

      &--2-5 {
        @include pos(absolute, false, 8.5px, 5.5px);
      }

      &--2-6 {
        @include pos(absolute, false, 8.5px, 2.5px);
      }

      &--2-7 {
        @include pos(absolute, false, 12px, 3px);
      }

      &--3-1 {
        @include pos(absolute, false, false, 3px, 0);
      }

      &--3-2 {
        @include pos(absolute, -3px, false, false, 3px);
      }

      &--4-1 {
        @include pos(absolute, -11px, false, false, 0);
      }

      &--4-2 {
        @include pos(absolute, -7px, false, false, 4px);
      }
    }

    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: $Dark-Grey;
    }
  }

  &__line {
    width: 440px;
    height: 2px;
    background-color: $Alice-Blue;
    margin-bottom: 32px;
  }

  &__button {
    width: 163px;
    @include pos(relative, false, false);
    justify-content: end;
    padding-right: 16px;

    &-wrapper {
      position: relative;

      & img {
        @include pos(absolute, 16.5px, false, false, 16px);
      }
    }
  }

  &__gallery {
    position: relative;
    height: 459px;
  }

  &__slider {
    width: 488px;
    height: 416px;
    border-radius: 4px;
    @include pos(absolute, 0, 0, false, false, 1);
  }

  &__slide {
    position: relative;
  }

  &__house-pic {
    border-radius: 4px;

    &--1 {
      @include pos(absolute, false, false, 0, 72px, 2);
    }

    &--2 {
      @include pos(absolute, false, 124px, 0, false, 2);
    }

    &--3 {
      @include pos(absolute, false, 20px, 0, false, 2);
    }

    &--video {
      @include pos(absolute, 184px, 220px, false, false, 1000);
    }
  }
}