.subscribe {
  height: 312px;
  margin-bottom: 120px;

  &__wrapper {
    background: url('../img/subscribe/subscribe-bg.png');
    background-size: cover;
    height: 312px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    width: 425px;
    text-align: center;
    color: $Midnight-Blue;

    margin-bottom: 32px;
  }

  &__form {
    height: 54px;
    width: 496px;
    position: relative;
  }

  &__icon {
    @include pos(absolute, 19px, false, false, 26px);
  }

  &__button {
    width: 129px;
    height: 46px;
    background-color: $Green;
    border: 0;
    border-radius: 23px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: $White;
    @include pos(absolute, false, false, 4px, 363px);
  }

  &__img {

    &--pic {
      &-1 {
        @include pos(absolute, 38px, false, false, 44px);
      }
  
      &-4 {
        @include pos(absolute, 178px, false, false, 195px);
      }
  
      &-5 {
        @include pos(absolute, 44px, false, false, 930px);
      }
  
      &-8 {
        @include pos(absolute, 197px, false, false, 1072px);
      }
    }

    &-wrapper {
      width: 38px;
      height: 38px;
      overflow: hidden;

      &--pic {
        &-2 {
          @include pos(absolute, 71px, false, false, 204px);
        }
    
        &-3 {
          @include pos(absolute, 173px, false, false, 67px);
        }

        &-6 {
          @include pos(absolute, 107px, false, false, 1082px);
        }
    
        &-7 {
          @include pos(absolute, 143px, false, false, 964px);
        }
      }

      & img {
        object-fit: cover;
        object-position: -33px -24px;
      }
    }
  }

  &__icon {
    fill: $Royal-Blue;
  }
}