.tips {
  height: 753px;
  margin-bottom: 120px;

  &__wrapper {
    flex-direction: column;
  }

  &__column {
    padding: 0;

    &--left {
      padding-right: 28px;
    }

    &--right {
      padding-left: 40px;
    }
  }

  &__title {
    width: 450px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__button {
    width: 118px;
    height: 46px;
    padding: 0 16px;
    @include pos(relative, false, false);
    align-self: center;
    margin-bottom: 40px;
  }

  &__row {
    width: 100%;
    margin: 0;
  }
}